<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tetsuchem.beerwindow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tetsuchem.beerwindow.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tetsuchem.beerwindow.BeerWindowActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tetsuchem.beerwindow.TwitterOAuthActivity"
            android:label="@string/title_activity_twitter_oauth"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter"
                    android:scheme="tetsu0831" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tetsuchem.beerwindow.TopActivity"
            android:label="@string/title_activity_top" >
        </activity>
        <activity
            android:name="com.tetsuchem.beerwindow.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
